<%-include("../layouts/header.ejs")-%>
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4"id="divtable">
      <h1 class="mt-4">Users</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin/home">Dashboard</a></li>
        <li class="breadcrumb-item active">Users</li>
      </ol>
      
      <div class="card mb-4" >
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Users
        </div>
        <div class="card-body">
          <table id="datatablesSimple" class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>                
                <th>Status</th>                
                <th>Action</th>                
              </tr>
            </thead>
            <!-- <tfoot>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>                
                <th>Status</th>                
                <th>Action</th>   
              </tr> 
            </tfoot>-->
            <tbody>
            
              <!-- <tr>
                <th class="tableheading">Name</th>
                <th class="tableheading">Email</th>
                <th class="tableheading">Phone.no</th>
              </tr> -->
          
              <%if(user.length>0){
                for(let i=0;i<user.length;i++){
                %>
              <tr >
                <td class="d-none col1"><%=user[i]._id %></td>
                <td class="d-none col2"><%=user[i].status %></td>
                <td><%=i+1 %></td>
                <td><%=user[i].name %></td>
                <td><%=user[i].email %></td>
                <td><%=user[i].status %></td>
                <% if (user[i].status=='Active'){ %>
                <td align="center"><button class="btn btn-danger btn-sm text-white inp" >Block</button>
                  <%} else {%>
                <td align="center"><button class="btn btn-success btn-sm text-white inp">Unlock</button>
                  <% } %>
                </td>
          
              </tr>
              <%} }
              else{%>
               <td colspan="5">Data not found</td>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>

<%-include("../layouts/footer.ejs")-%>
