<!-- Content -->
<div class="container">
  <% if (proddata) { %>
  <nav aria-label="breadcrum">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/products">Products</a></li>
      <li class="breadcrumb-item">
        <a href="/products/"><%= proddata.category.name%></a>
      </li>
      <li class="breadcrumb-item"><%= proddata.name%></li>
    </ol>
  </nav>
  <% } %>
</div>
<div class="zoomcontainer">
  <!-- zoom container start -->

  <div class="xzoom-container">
    <img
      height="400px"
      width="400px"
      src="<%= proddata.images[0].replace('.jpg', '-resized-400.jpg') %>"
      class="xzoom"
    />

    <div class="xzoom-thumbs">
      <a
        href="<%= proddata.images[0].replace('.jpg', '-resized-1024.jpg')%>"
        id="one"
      >
        <img
          src="<%= proddata.images[0].replace('.jpg', '-resized-400.jpg') %>"
          class="xzoom-gallery"
          alt="<%= proddata.images[0].replace('.jpg', '-resized-400.jpg') %>"
        />
      </a>
      <!-- image 2 -->
      <a
        href="<%= proddata.images[1].replace('.jpg', '-resized-1024.jpg')%>"
        id="one"
      >
        <img
          src="<%= proddata.images[1].replace('.jpg', '-resized-400.jpg') %>"
          class="xzoom-gallery"
          alt="<%= proddata.images[1].replace('.jpg', '-resized-400.jpg') %>"
        />
      </a>

      <!-- image 3 -->
      <a
        href="<%= proddata.images[2].replace('.jpg', '-resized-1024.jpg')%>"
        id="one"
      >
        <img
          src="<%= proddata.images[2].replace('.jpg', '-resized-400.jpg') %>"
          class="xzoom-gallery"
          alt="<%= proddata.images[2].replace('.jpg', '-resized-400.jpg') %>"
        />
      </a>
    </div>
  </div>

  <!-- zoom container end -->
  <!-- description  start -->
  <div class="description">
    <h1 class="product-title"><%= proddata.name%></h1>
    <div class="product-rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-alt"></i>
      <span>4.7(21)</span>
    </div>
    <div class="proddesc">
      <p><%= proddata.description%></p>
    </div>
    <input type="hidden" id="pid" value="<%= proddata._id %>" />
    <span>Price : ₹<%= proddata.price%></span>

    <div>
      <button class="buy">Buy Now</button>
      <a href="#" class="button" onclick="addToCart()" class="cart"
        ><button class="cart">Add to cart</button></a
      >
    </div>
  </div>
  <!-- description  end -->
</div>
<script>
  try {
    const pid = $("#pid").val();
    const frmData = {
      id: pid,
    };

    function addToCart() {
      $.ajax({
        // url: `http://localhost:3000/product/cart/`,
        url: `http://localhost:3000/product/test`,
        data: frmData,
        method: "POST",
        success: function (response) {
          Swal.fire({
            icon: "success",
            title: "Item Added to Cart",
            showConfirmButton: false,
            timer: 1500,
          });
        },
      });
    }
  } catch (error) {
    console.log(error);
  }
</script>
