<section class="my-lg-6 my-8">
  <div class="container">
    <div class="row">
      <% if(products) { products.forEach(product=>{ %>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <% if(product.stock == 0){ %>
            <a href="/product-details/<%= product.id%>" class="image">
              <img class="pic-1" src="/assets/img/pngegg.png" alt="images" />
            </a>
            <%} else { %>
            <a href="/product-details/<%= product.id%>" class="image">
              <img class="pic-1" src="<%= product.image%>" alt="images" />
            </a>
            <% }%>
          </div>

          <div class="product-content">
            <h3 class="title"><%= product.name %></h3>
            <div class="price">₹<%= product.price%></div>

            <a
              class="button"
              class="cart"
              href="/product-details/<%= product.id%>"
              ><button class="btn btn-primary">View Details</button></a
            >
          </div>
        </div>
      </div>

      <%}) }%>
    </div>
  </div>
</section>
