<%- include('files/header.ejs') %>
<body>
  <% if (name) { %> <%- include('files/navbar.ejs', {name}) %> <% } else { %>
  <%- include('files/navbar.ejs', {name:""}) %> <% } %>
  <div class="container">
    <nav aria-label="breadcrum">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/cart">cart</a></li>
      </ol>
    </nav>
  </div>
  <div class="container main-container headerOffset">
    <!--/.row-->

    <!-- <div class="row">
      <div
        class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs"
      >
        <h1 class="section-title-inner">
          <span
            ><i class="glyphicon glyphicon-shopping-cart"></i> Shopping cart
          </span>
        </h1>
      </div>
      <div
        class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs"
      >
        <h4 class="caps">
          <a href="/productlist"
            ><i class="fa fa-chevron-left"></i> Back to shopping
          </a>
        </h4>
      </div>
    </div> -->
    <!--/.row-->

    <div class="row">
      <% if (userCartData.length) { %>
      <div class="col-lg-9 col-md-9 col-sm-7">
        <div class="row userInfo">
          <div class="col-xs-12 col-sm-12">
            <div class="cartContent w100">
              <table class="cartTable table-responsive" style="width: 100%">
                <tbody>
                  <tr class="CartProduct cartTableHeader">
                    <td style="width: 15%">Product</td>
                    <td style="width: 30%">Details</td>
                    <td style="width: 20%">QTY</td>
                    <td style="width: 10%">Available</td>

                    <td style="width: 15%">Total</td>
                    <td style="width: 10%" class="delete">&nbsp;</td>
                  </tr>
                  <% userCartData.forEach(function(item, index) { %>
                  <tr class="CartProduct" id="cartProduct<%= index %>">
                    <td class="CartProductThumb">
                      <div>
                        <a href=""
                          ><img
                            src="<%= item.productId.image %>"
                            alt=""
                            width="100px"
                            height="100px"
                        /></a>
                        <input
                          type="hidden"
                          name="cartId"
                          id="cartId"
                          value="<%= item._id %>"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="CartDescription">
                        <h6>
                          <a href="/product-details/<%= item.productId._id %>"
                            ><%= item.productId.name %></a
                          >
                        </h6>
                        <div id="productPrice<%= index %>" class="price">
                          <span>₹<%= item.productId.price %></span>
                        </div>
                      </div>
                    </td>

                    <td>
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        onclick="cartDec('<%= item._id %>','<%= index %>')"
                      >
                        -
                      </button>

                      <span id="productQuantity<%= index %>">
                        <%= item.productQuantity %>
                      </span>

                      <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        onclick="cartInc('<%= item._id %>','<%= index %>')"
                      >
                        +
                      </button>
                    </td>
                    <td class="quantity-col">
                      <div class="cart-product-quantity">
                        <div id="stockLimit<%= index %>" class="">
                          <%= item.productId.stock %>
                        </div>
                      </div>
                    </td>
                    <td id="totalCostPerProduct<%= index %>" class="price">
                      ₹<%= item.totalCostPerProduct %>
                    </td>
                    <td class="delete">
                      <a
                        title="Delete"
                        onclick="deleteCart('<%= item._id %>','<%= index %>')"
                      >
                        <i class="fa fa-trash" style="color: red"></i
                      ></a>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <!--cartContent-->

            <!-- <div class="cartFooter w100">
              <div class="box-footer">
                <div class="pull-left">
                  <a href="/" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i> &nbsp; Continue shopping
                  </a>
                </div>
                <div class="pull-right">
                  <a href="/cart">
                    <button class="btn btn-default">
                      <i class="fa fa-undo"></i> &nbsp; Update cart
                    </button>
                  </a>
                </div>
              </div>
            </div> -->
            <!--/ cartFooter -->
          </div>
        </div>
        <!--/row end-->
      </div>

      <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
        <div class="contentBox">
          <div class="w100 costDetails">
            <div class="table-block" id="order-detail-content">
              <div class="w100 cartMiniTable">
                <table id="cart-summary" class="std table">
                  <tbody>
                    <tr>
                      <td>Total Price</td>
                      <td id="totalPrice" class="price">₹<%= grandTotal %></td>
                    </tr>
                    <tr>
                      <td>Shipping</td>
                      <td class="price">
                        <span class="success">Free shipping!</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Grand Total</td>
                      <td class="site-color" id="total-price">
                        ₹<span id="grandTotal"><%= grandTotal %></span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" align="center">
                        <% if (userCartData.length) { %>

                        <a
                          class="btn btn-primary btn-lg btn-block chkBtn"
                          title="checkout"
                          href="#"
                        >
                          checkout &nbsp;
                        </a>
                        <% } %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <% } else { %>
            <div
              class="empty-cart-message"
              style="text-align: center; padding: 20px"
            >
              <h3
                style="
                  font-family: 'Lucida Sans', 'Lucida Sans Regular',
                    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
                    sans-serif;
                  color: red;
                "
              >
                YOUR CART IS EMPTY
              </h3>
            </div>
            <% } %>
          </div>
          <!-- End popular -->
        </div>
        <!--/rightSidebar-->
      </div>

      <!--/row-->

      <div style="clear: both"></div>
    </div>
    <!-- /.main-container -->

    <div class="gap"></div>

    <!-- Le javascript
================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery/jquery-2.1.3.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- include  parallax plugin -->
    <script
      type="text/javascript"
      src="assets/js/jquery.parallax-1.1.js"
    ></script>

    <!-- optionally include helper plugins -->
    <script
      type="text/javascript"
      src="assets/js/helper-plugins/jquery.mousewheel.min.js"
    ></script>

    <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

    <script
      type="text/javascript"
      src="assets/js/jquery.mCustomScrollbar.js"
    ></script>

    <!-- include icheck plugin // customized checkboxes and radio buttons   -->
    <script
      type="text/javascript"
      src="assets/plugins/icheck-1.x/icheck.min.js"
    ></script>

    <!-- include grid.js // for equal Div height  -->
    <script src="assets/plugins/jquery-match-height-master/dist/jquery.matchHeight-min.js"></script>
    <script src="assets/js/grids.js"></script>

    <!-- include carousel slider plugin  -->
    <script src="assets/js/owl.carousel.min.js"></script>

    <!-- jQuery select2 // custom select   -->
    <script src="../../../../cdnjs.cloudflare.com/ajax/libs/select2/4."></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      async function cartDec(id, index) {
        try {
          let stockLimitElement = document.getElementById(
            "stockLimit" + index
          ).innerText;
          let productQuantityElement = document.getElementById(
            "productQuantity" + index
          );
          let totalCostPerProductElement = document.getElementById(
            "totalCostPerProduct" + index
          );
          let totalPriceElement = document.getElementById("totalPrice");
          let grandTotalElement = document.getElementById("total-price");

          if (Number(productQuantityElement.innerText) == 1)
            return Swal.fire({
              icon: "error",
              title: "Minimum One Quantity",
              text: "Please select atleast one quantity",
            });

          let response = await fetch("/cart/decQty/" + id, { method: "PUT" });
          let data = await response.json();

          productQuantityElement.innerHTML = await data.cartProduct
            .productQuantity;
          totalCostPerProductElement.innerHTML =
            "₹" + (await data.cartProduct.totalCostPerProduct);
          totalPriceElement.innerHTML = "₹" + (await data.grandTotal);
          grandTotalElement.innerHTML = "₹" + (await data.grandTotal);
        } catch (error) {
          console.error(error);
        }
      }
    </script>
    <script>
      async function cartInc(id, index) {
        try {
          let stockLimitElement = document.getElementById(
            "stockLimit" + index
          ).innerText;
          let productQuantityElement = document.getElementById(
            "productQuantity" + index
          );

          let totalCostPerProductElement = document.getElementById(
            "totalCostPerProduct" + index
          );
          let totalPriceElement = document.getElementById("totalPrice");
          let grandTotalElement = document.getElementById("total-price");

          if (
            Number(productQuantityElement.innerText) >=
            Number(stockLimitElement.innerText)
          )
            return Swal.fire({
              icon: "info",
              title: "Cross the Limit",
              text: "Something went wrong!",
            });

          let response = await fetch("/cart/incQty/" + id, { method: "PUT" });
          let data = await response.json();

          console.log(data);

          if (data.message) {
            return Swal.fire({
              icon: "error",
              title: "Cross the Limit",
              text: "Qty limit exceeded!",
            });
          }

          productQuantityElement.innerHTML = data.cartProduct.productQuantity;
          totalCostPerProductElement.innerHTML =
            "₹" + data.cartProduct.totalCostPerProduct;
          totalPriceElement.innerHTML = "₹" + data.grandTotal;
          grandTotalElement.innerHTML = "₹" + data.grandTotal;
        } catch (error) {
          console.error(error);
        }
      }
    </script>
    <script>
      async function deleteCart(id, index) {
        try {
          Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
          }).then((result) => {
            if (result.isConfirmed) {
              let cartProductElement = document.getElementById(
                "cartProduct" + index
              );
              cartProductElement.style.display = "none";
              fetch("/cart/delete/" + id, { method: "DELETE" }).then((data) =>
                console.log(data)
              );
              // Swal.fire({
              //   icon: "success",
              //   title: "Product has been removed from cart",
              // });
            }
          });
        } catch (error) {
          console.error(error);
        }
      }

      const checkOutBtn = document.querySelector(".chkBtn");
      const cartId = document.querySelector("#cartId");

      checkOutBtn.addEventListener("click", () => {
        const link = "/checkout/" + cartId.value;
        // console.log(link);
        window.location.href = link;
      });
    </script>

    <%- include('files/footer.ejs') %>
  </div>
</body>
