<%-include('../layouts/header2')-%>

<div class="background-signin"></div>
<div class="container text-center" id="box-signin">
  <div id="top-message"></div>

  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <form id="form" method="post" class="register" action="/register">
    <p class="text-warning"><% if(locals.errors){%> <%=errors %> <%}%></p>
    <h3>Sign-Up Here</h3>

    <label for="name">Name</label>
    <input
      type="name"
      name="name"
      id="name"
      placeholder="Name"
      value="<% if(locals.old){%> <%=locals.old.name %> <%}%>"
      required
    />

    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Email"
      value="<% if(locals.old){%> <%=locals.old.email %> <%}%>"
      required
    />
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
      required
    />

    <label for="mobile">Mobile</label>
    <input
      type="text"
      name="mobile"
      id="mobile"
      placeholder="Mobile"
      value="<% if(locals.old){%> <%=locals.old.mobile %> <%}%>"
    />
    <button type="submit" class="btn btn-danger" id="btn-signin" name="login">
      Sign in
    </button>
    <div class="social">
      <span id="span-signin">Already have an account! </span>
      <a id="link-signup" href="/login">&nbsp;Log in</a>
    </div>
  </form>
</div>
<%-include('../layouts/footer')-%>
